
@{
    ViewBag.Title = "DangNhap";
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link type="text/css" rel="stylesheet" href="~/Content/css/dangkidangnhap.css" />
    <link rel="stylesheet" href="~/Content/fontawesome-free-6.2.1/css/all.min.css" />
    <script src="https://code.jquery.com/jquery-3.6.3.js"
            integrity="sha256-nQLuAZGRRcILA+6dMBOvcRh5Pe310sBpanc6+QBmyVM="
            crossorigin="anonymous"></script>

    <title>Document</title>
</head>
<body>
    <div class="main">
        <form method="post" action="~/Account/DangNhapByUser" id="form_signin" class="form_signin" role="form">

            <p class="info_title">Đăng nhập</p>
            <div class="type_acclog">
                <a href="~/Account/DangNhapAD" class="link_type ">Chủ nhà hàng</a>
                <a href="~/Account/DangNhapNV" class="link_type active">Nhân viên</a>
            </div>

            <div class="info_user">
                <p class="info_user_title">Số điện thoại chủ nhà hàng</p>
                <input type="text" name="sdt" id="phone_number" class="form_user_input">
            </div>
            <div class="info_user ">
                <p class="info_user_title">Tên đăng nhập</p>
                <input type="text" name="tentk" class="form_user_input">
            </div>

            <div id="pass_res" class="info_user ">
                <p class="info_user_title">Mật khẩu</p>
                <input name="pass" id="password_userREG" type="password" class="form_user_input">
            </div>

            <div class="info_usershowpass">
                <input id="check_showpassREG" onclick="ShowPassReg()" type="checkbox" class="showpasscb">
                <p class="showpasstt">Hiện mật khẩu</p>
            </div>

            <div class="sub_btn">
                <input type="submit" class="btn_signup" value="Đăng nhập" />
                <a href="~/Account/DangKiChu" class="btn_signup">Đăng kí</a>
            </div>
        </form>
    </div>
    <script src="~/Content/js/alter1.js" type="text/javascript"></script>
    <script type="text/javascript" src="~/Content/js/account.js"></script>
</body>
</html>